*{
    background-image:linear-gradient(to right,purple,pink);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 150%;
}

.titulo{
    font-size: 40px;
    padding: 10px;
    text-align: center;
    color: #ddff1c;
    font-weight: normal;
}

.logo{
    margin-top: 10px;
    height: 50px;
}

main{
    display: flex;
    margin-bottom: 15px;
    margin-left: 100px;
}

.text-area{
    border: none;
    color: yellow;
    margin-top: 30px;
    text-transform: lowercase;
}
::placeholder{color:#000;}
.texto:focus{
    outline: none;
}

h6 {
    font-size: 15px;
    margin: 0;
}

.mensaje{
    height: 440px;
    background: white;
    background-image: url("./img/Muñeco.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: blueviolet;
    margin-left: 10px;
    margin-top: 2px;
    padding-left: 20px;
    position:static;
}
.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: violet;
    border: none;
    border-radius: 24px;
    color: purple;
    cursor: pointer;
    height: 63px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: blueviolet;
    border: none;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 63px;
    width: 328px;
}

.copy {
    background: violet;
    border: none;
    border-radius: 24px;
    color: purple;
    cursor: pointer;
    height: 63px;
    margin-left: 10px;
    margin-top: 10px;
    position: static;
    width: 328px;
}

footer{
    text-align: center;
}

.redes{
    height: 10px;
    padding: 10px;
}

.redes h5{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}

.sociales{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sociales li{
    display: inline-block;
}

.sociales a{
    padding: 1px;
}

.copyright{
    text-align: center;
    font-size: 13px;
    margin: 20px;
}

@media (max-width:768px){
    main{
        flex-direction: column;
    }
    body{
        font-size: 16px;
    }
}